/* Make an item take up the whole screen */
.carousel-item {
    height: 100vh;
}

/* Center caption, src: https://stackoverflow.com/questions/27279865/how-to-vertically-center-a-bootstrap-carousel-caption */
.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial; /* getting rid of extra bottom space */
    transform-style: preserve-3d; /* prevent blurry elements placed on half pixel */
}
  
.carousel-image-1 {
    background: url('https://source.unsplash.com/random/1080x720');
    background-size: cover;
}

.carousel-image-2 {
    background: url('https://source.unsplash.com/random/1081x721');
    background-size: cover;
}

.carousel-image-3 {
    background: url('https://source.unsplash.com/random/1082x722');
    background-size: cover;
}